* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Eczar', serif;
}


/* HOME PAGE */

.banner-container {

  margin-top: 80px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.carousel-img {

  display: block;
  width: 100%;
  height: 400px;

  /* object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden; */
}

.courseCarousel {

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.homeCard {

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


/* COURSES PAGE */

.courseCard {

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.courseCard:hover {
  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; 
  transition: .3s; 
  transform: scale(1.05);
}

.courseCardImage {

  width: 100%;
  height: 280px;
}


/* COURSE VIEW PAGE */

.courseView-container {
  margin-top: 100px;
}

.courseViewCard {

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


/* LOGIN PAGE */

.login-form {

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


/* REGISTRATION PAGE */

.registration-form {

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}